@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.ql-toolbar {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.ql-editor {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  min-height: 12in;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
